.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user

!data/inputdata/data_ml1.csv
!data/inputdata/data_2.2.csv
!data/inputdata/data_2.3.csv
!data/inputdata/data_2.4.1.csv
!data/inputdata/data_2.4.2.csv
!data/inputdata/data_2.8.2.csv
!data/inputdata/data_2.10.1.csv
!data/inputdata/data_2.12.csv
!data/inputdata/data_2.15.csv
!data/inputdata/data_2.19.1.csv
!data/inputdata/data_2.20.csv
!data/inputdata/data_2.23.csv
!data/inputdata/data_ml3.csv
!data/inputdata/data_3.5.csv
!data/inputdata/data_5.1.csv
!data/inputdata/data_5.4.csv
!data/inputdata/data_5.5.csv
!data/inputdata/data_5.7.csv
!data/inputdata/data_5.9.1.csv
!data/inputdata/coded_data_initial_raw.csv
!data/inputdata/coded_data_revised_raw.csv
!data/inputdata/coded_data_vignette_raw.csv
!data/intermediatedata/data_1.3_clean.csv
!data/intermediatedata/codebook_data_1.3_clean.csv
!data/intermediatedata/data_1.10_clean.csv
!data/intermediatedata/codebook_data_1.10_clean.csv
!data/intermediatedata/data_1.11_clean.csv
!data/intermediatedata/codebook_data_1.11_clean.csv
!data/intermediatedata/data_1.12.3.1_clean.csv
!data/intermediatedata/codebook_data_1.12.3.1_clean.csv
!data/intermediatedata/data_1.12.3.2_clean.csv
!data/intermediatedata/codebook_data_1.12.3.2_clean.csv
!data/intermediatedata/data_2.10.1_clean.csv
!data/intermediatedata/codebook_data_2.10.1_clean.csv
!data/intermediatedata/data_2.12.1_clean.csv
!data/intermediatedata/codebook_data_2.12.1_clean.csv
!data/intermediatedata/data_2.12.2_clean.csv
!data/intermediatedata/codebook_data_2.12.2_clean.csv
!data/intermediatedata/data_2.12.3_clean.csv
!data/intermediatedata/codebook_data_2.12.3_clean.csv
!data/intermediatedata/data_2.15_clean.csv
!data/intermediatedata/codebook_data_2.15_clean.csv
!data/intermediatedata/data_2.20_clean.csv
!data/intermediatedata/codebook_data_2.20_clean.csv
!data/intermediatedata/data_2.23_clean.csv
!data/intermediatedata/codebook_data_2.23_clean.csv
!data/intermediatedata/data_3.2.1.1_clean.csv
!data/intermediatedata/codebook_data_3.2.1.1_clean.csv
!data/intermediatedata/data_3.2.1.2_clean.csv
!data/intermediatedata/codebook_data_3.2.1.2_clean.csv
!data/intermediatedata/data_3.7.1_clean.csv
!data/intermediatedata/codebook_data_3.7.1_clean.csv
!data/intermediatedata/data_3.7.2_clean.csv
!data/intermediatedata/codebook_data_3.7.2_clean.csv
!data/intermediatedata/data_3.8.2_clean.csv
!data/intermediatedata/codebook_data_3.8.2_clean.csv
!data/intermediatedata/data_5.1.1_clean.csv
!data/intermediatedata/codebook_data_5.1.1_clean.csv
!data/intermediatedata/data_5.4_clean.csv
!data/intermediatedata/codebook_data_5.4_clean.csv
!data/intermediatedata/data_5.7_clean.csv
!data/intermediatedata/codebook_data_5.7_clean.csv
!data/intermediatedata/data_5.9.1_clean.csv
!data/intermediatedata/codebook_data_5.9.1_clean.csv
!data/intermediatedata/coded_data_replications.csv
!data/intermediatedata/codebook_coded_data_replications.csv
!data/intermediatedata/coded_data_original.csv
!data/intermediatedata/codebook_coded_data_original.csv
!data/intermediatedata/coded_data_original_shortened.csv
!data/intermediatedata/codebook_coded_data_original_shortened.csv

!data/analysisdata/data_h4.csv
!data/analysisdata/codebook_data_h4.csv
!data/analysisdata/data_h6.csv
!data/analysisdata/codebook_data_h6.csv
!data/analysisdata/data_h5.csv
!data/analysisdata/codebook_data_h5.csv
!data/analysisdata/data_h1.csv
!data/analysisdata/codebook_data_h1.csv
!data/analysisdata/plot_456_data.csv
!data/analysisdata/codebook_plot_456_data.csv
!data/analysisdata/plot_46_data.csv
!data/analysisdata/codebook_plot_46_data.csv
!data/analysisdata/data_h2.csv
!data/analysisdata/codebook_data_h2.csv
!data/analysisdata/data_h3_multiple.csv
!data/analysisdata/codebook_data_h3_multiple.csv
!data/analysisdata/data_h3_avg.csv
!data/analysisdata/codebook_data_h3_avg.csv
!data/analysisdata/plot_23_data_alpha.csv
!data/analysisdata/codebook_plot_23_data_alpha.csv
!data/analysisdata/plot_23_data_omega.csv
!data/analysisdata/codebook_plot_23_data_omega.csv
!data/analysisdata/plot_46_data_rev.csv
!data/analysisdata/codebook_plot_46_data_rev.csv

!SupplementaryMaterials/CodingProtocols/Measurement_Error_Reporting_Revised_Coding_Protocol.pdf
!SupplementaryMaterials/CodingProtocols/Measurement_Error_Reporting_Coding_Protocol.pdf
!SupplementaryMaterials/CodingProtocols/Vignette_Item_Coding_Protocol.pdf

!data/analysisdata/plot_23_data_reported_alpha.csv
!data/analysisdata/codebook_plot_23_data_reported_alpha.csv
!data/intermediatedata/data_5.1.2_clean.csv
!data/intermediatedata/codebook_data_5.1.2_clean.csv
!data/analysisdata/cfa_results.csv
!data/analysisdata/codebook_cfa_results.csv

!data/analysisdata/item_number_change_data.csv
!data/analysisdata/codebook_item_number_change_data.csv
