.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user

Data/InputData/Data_ml1.csv
Data/InputData/Data_2.2.csv
Data/InputData/Data_2.3.csv
Data/InputData/Data_2.4.1.csv
Data/InputData/Data_2.4.2.csv
Data/InputData/Data_2.8.2.csv
Data/InputData/Data_2.10.1.csv
Data/InputData/Data_2.12.csv
Data/InputData/Data_2.15.csv
Data/InputData/Data_2.19.1.csv
Data/InputData/Data_2.20.csv
Data/InputData/Data_2.23.csv
Data/InputData/Data_ml3.csv
Data/InputData/Data_3.5.csv
Data/InputData/Data_5.1.csv
Data/InputData/Data_5.4.csv
Data/InputData/Data_5.5.csv
Data/InputData/Data_5.7.csv
Data/InputData/Data_5.9.1.csv
!Data/InputData/Coded_Data_Initial_raw.csv
!Data/InputData/Coded_Data_Revised_raw.csv
!Data/InputData/Coded_Data_Vignette_raw.csv

Data/IntermediateData/data_1.3_clean.csv
!Data/IntermediateData/codebook_data_1.3_clean.csv
Data/IntermediateData/data_1.10_clean.csv
!Data/IntermediateData/codebook_data_1.10_clean.csv
Data/IntermediateData/data_1.11_clean.csv
!Data/IntermediateData/codebook_data_1.11_clean.csv
Data/IntermediateData/data_1.12.3.1_clean.csv
!Data/IntermediateData/codebook_data_1.12.3.1_clean.csv
Data/IntermediateData/data_1.12.3.2_clean.csv
!Data/IntermediateData/codebook_data_1.12.3.2_clean.csv
Data/IntermediateData/data_2.10.1_clean.csv
!Data/IntermediateData/codebook_data_2.10.1_clean.csv
Data/IntermediateData/data_2.12.1_clean.csv
!Data/IntermediateData/codebook_data_2.12.1_clean.csv
Data/IntermediateData/data_2.12.2_clean.csv
!Data/IntermediateData/codebook_data_2.12.2_clean.csv
Data/IntermediateData/data_2.12.3_clean.csv
!Data/IntermediateData/codebook_data_2.12.3_clean.csv
Data/IntermediateData/data_2.15_clean.csv
!Data/IntermediateData/codebook_data_2.15_clean.csv
Data/IntermediateData/data_2.20_clean.csv
!Data/IntermediateData/codebook_data_2.20_clean.csv
Data/IntermediateData/data_2.23_clean.csv
!Data/IntermediateData/codebook_data_2.23_clean.csv
Data/IntermediateData/data_3.2.1.1_clean.csv
!Data/IntermediateData/codebook_data_3.2.1.1_clean.csv
Data/IntermediateData/data_3.2.1.2_clean.csv
!Data/IntermediateData/codebook_data_3.2.1.2_clean.csv
Data/IntermediateData/data_3.7.1_clean.csv
!Data/IntermediateData/codebook_data_3.7.1_clean.csv
Data/IntermediateData/data_3.7.2_clean.csv
!Data/IntermediateData/codebook_data_3.7.2_clean.csv
Data/IntermediateData/data_3.8.2_clean.csv
!Data/IntermediateData/codebook_data_3.8.2_clean.csv
Data/IntermediateData/data_5.1.1_clean.csv
!Data/IntermediateData/codebook_data_5.1.1_clean.csv
Data/IntermediateData/data_5.4_clean.csv
!Data/IntermediateData/codebook_data_5.4_clean.csv
Data/IntermediateData/data_5.7_clean.csv
!Data/IntermediateData/codebook_data_5.7_clean.csv
Data/IntermediateData/data_5.9.1_clean.csv
!Data/IntermediateData/codebook_data_5.9.1_clean.csv
!Data/IntermediateData/coded_data_replications.csv
!Data/IntermediateData/codebook_coded_data_replications.csv
!Data/IntermediateData/coded_data_original.csv
!Data/IntermediateData/codebook_coded_data_original.csv
!Data/IntermediateData/coded_data_original_shortened.csv
!Data/IntermediateData/codebook_coded_data_original_shortened.csv

!Data/AnalysisData/data_h4.csv
!Data/AnalysisData/codebook_data_h4.csv
!Data/AnalysisData/data_h6.csv
!Data/AnalysisData/codebook_data_h6.csv
!Data/AnalysisData/data_h5.csv
!Data/AnalysisData/codebook_data_h5.csv
!Data/AnalysisData/data_h1.csv
!Data/AnalysisData/codebook_data_h1.csv
!Data/AnalysisData/plot_456_data.csv
!Data/AnalysisData/codebook_plot_456_data.csv
!Data/AnalysisData/plot_46_data.csv
!Data/AnalysisData/codebook_plot_46_data.csv
!Data/AnalysisData/data_h2.csv
!Data/AnalysisData/codebook_data_h2.csv
!Data/AnalysisData/data_h3_multiple.csv
!Data/AnalysisData/codebook_data_h3_multiple.csv
!Data/AnalysisData/data_h3_avg.csv
!Data/AnalysisData/codebook_data_h3_avg.csv
!Data/AnalysisData/plot_23_data_alpha.csv
!Data/AnalysisData/codebook_plot_23_data_alpha.csv
!Data/AnalysisData/plot_23_data_omega.csv
!Data/AnalysisData/codebook_plot_23_data_omega.csv
!Data/AnalysisData/plot_46_data_rev.csv
!Data/AnalysisData/codebook_plot_46_data_rev.csv

!SupplementaryMaterials/CodingProtocols/Measurement_Error__Reporting_Revised_Coding_Protocol.pdf
!SupplementaryMaterials/CodingProtocols/Measurement_Error_Reporting_Coding_Protocol.pdf
!SupplementaryMaterials/CodingProtocols/Vignette_Item_Coding_Protocol.pdf