.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
.Rproj.user



!SupplementaryMaterials/CodingProtocols/Measurement_Error_Reporting_Revised_Coding_Protocol.pdf
!SupplementaryMaterials/CodingProtocols/Measurement_Error_Reporting_Coding_Protocol.pdf
!SupplementaryMaterials/CodingProtocols/Vignette_Item_Coding_Protocol.pdf


!data/inputdata/data_ml1.csv
!data/inputdata/data_2.2.csv
!data/inputdata/data_2.3.csv
!data/inputdata/data_2.4.1.csv
!data/inputdata/data_2.4.2.csv
!data/inputdata/data_2.8.2.csv
!data/inputdata/data_2.10.1.csv
!data/inputdata/data_2.12.csv
!data/inputdata/data_2.15.csv
!data/inputdata/data_2.19.1.csv
!data/inputdata/data_2.20.csv
!data/inputdata/data_2.23.csv
!data/inputdata/data_ml3.csv
!data/inputdata/data_3.5.csv
!data/inputdata/data_5.1.csv
!data/inputdata/data_5.4.csv
!data/inputdata/data_5.5.csv
!data/inputdata/data_5.7.csv
!data/inputdata/data_5.9.1.csv
!data/inputdata/coded_data_initial_raw.csv
!data/inputdata/coded_data_revised_raw.csv
!data/inputdata/coded_data_vignette_raw.csv
!data/intermediatedata/data_1.3_clean.csv
!data/intermediatedata/data_1.10_clean.csv
!data/intermediatedata/data_1.11_clean.csv
!data/intermediatedata/data_1.12.3.1_clean.csv
!data/intermediatedata/data_1.12.3.2_clean.csv
!data/intermediatedata/data_2.10.1_clean.csv
!data/intermediatedata/data_2.12.1_clean.csv
!data/intermediatedata/data_2.12.2_clean.csv
!data/intermediatedata/data_2.12.3_clean.csv
!data/intermediatedata/data_2.15_clean.csv
!data/intermediatedata/data_2.20_clean.csv
!data/intermediatedata/data_2.23_clean.csv
!data/intermediatedata/data_3.2.1.1_clean.csv
!data/intermediatedata/data_3.2.1.2_clean.csv
!data/intermediatedata/data_3.7.1_clean.csv
!data/intermediatedata/data_3.7.2_clean.csv
!data/intermediatedata/data_3.8.2_clean.csv
!data/intermediatedata/data_5.1.1_clean.csv
!data/intermediatedata/data_5.1.2_clean.csv
!data/intermediatedata/data_5.4_clean.csv
!data/intermediatedata/data_5.7_clean.csv
!data/intermediatedata/data_5.9.1_clean.csv
!data/intermediatedata/coded_data_replications.csv
!data/intermediatedata/coded_data_original.csv
!data/analysisdata/qmp_ratio_data.csv
!data/analysisdata/calculated_reliability_lab_data.csv
!data/analysisdata/measure_reliability_data.csv
!data/analysisdata/fa_caruso_2012.csv
!data/analysisdata/fa_husnu_2010.csv
!data/analysisdata/fa_nosek_2002_math.csv
!data/analysisdata/fa_nosek_2002_art.csv
!data/analysisdata/fa_anderson_2012_swl.csv
!data/analysisdata/fa_anderson_2012_pa.csv
!data/analysisdata/fa_anderson_2012_na.csv
!data/analysisdata/fa_giessner_2007.csv
!data/analysisdata/fa_norenzayan_2002.csv
!data/analysisdata/fa_zhong_2006.csv
!data/analysisdata/fa_monin_2001_most.csv
!data/analysisdata/fa_monin_2001_some.csv
!data/analysisdata/fa_cacioppo_1983_arg.csv
!data/analysisdata/fa_cacioppo_1983_nfc.csv
!data/analysisdata/fa_de_fruyt_2000.csv
!data/analysisdata/fa_albarracin_2008_verb.csv
!data/analysisdata/fa_albarracin_2008_math.csv
!data/analysisdata/fa_shnabel_2008.csv
!data/analysisdata/fa_vohs_2008.csv
